/* ==UserStyle==
@name           Dynalist Background: Mountain
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Background image for dynalist
@author         Brandon Sie
==/UserStyle== */

@-moz-document domain("dynalist.io") {
    .AppContainer {
        /*background: #1e2022 !important;*/
        background: linear-gradient(rgba(0, 0, 0, .8), rgba(0,0,0,.5)), 
        url("https://raw.githubusercontent.com/brandonsie/brandonsie.github.io/master/docs/grandteton.jpg") !important;
        /*  grand teton https://raw.githubusercontent.com/brandonsie/brandonsie.github.io/master/docs/grandteton.jpg
            baltimore http://img.mp.itc.cn/upload/20170509/ddb471a4133f4a4e82f06a5bc16fdc40_th.jpg
        */
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
        background-position: center !important; 
        background-size: cover !important;
    }
}
