/* ==UserStyle==
@name           Dynalist_Blue
@namespace      github.com/brandonsie/Themes
@version        1.0.5
@description    Dynalist custom CSS for use with default theme.
@author         Brandon Sie
@updateURL      https://github.com/brandonsie/Themes/blob/master/Dynalist_Blue.user.css
==/UserStyle== */

@-moz-document domain("dynalist.io") {

/* ======================================== */
/* Variables */
:root {
    --main-black: #000000;
    --main-grey: rgba(120, 120, 120, .3);
    --dark-grey: rgba(75, 75, 75, 1);
    --thick-grey: rgba(250, 250, 250, 0.9);
    --main-blue: #005f97;
    
    /*
    https://images3.alphacoders.com/781/781047.jpg
    
    */
    
    --page-bg-color: rgba(255,255,255, 0.9);
    --page-bg-url: url("");
    --page-bg-style: linear-gradient(var(--page-bg-color), var(--page-bg-color)), var(--page-bg-url) !important;

    --blue-bg: rgba(0, 95, 151, .5);
    --blue-hl: rgba(132, 196, 234, .3);
    --yellow-bg: rgba(255, 255, 0, 0.4);
    --green-bg: rgba(164, 255, 187, .3);
    --light-blue: #00b1ff;
    --transparent: rgba(0,0,0,0);
    
    --small-text: 14px;
    --medium-text: 14px;
    
    --app-bg-color-1: rgba(0, 0, 0, .8);
    --app-bg-color-2: rgba(0, 0, 0, .8);
    --app-bg-url: url("");
    /* https://brandonsie.github.io/docs/Boston_Bigmap_Crop_Contrast.jpg */
    --app-bg-style: linear-gradient(var(--app-bg-color-1), var(--app-bg-color-2)), var(--app-bg-url) !important;
    
}



/* ======================================== */
/* Header & Borders */
.AppHeader {
    color: var(--main-blue);
    background-color: var(--transparent);
    box-shadow: 0 1px 3px var(--main-black);
}

.AppHeader-icon {
    color: var(--main-blue);
}

.AppHeader-icon:hover {
    color: var(--light-blue);
    border: 1px solid var(--main-black);
}

    
/* ======================================== */
/* Page & Background */

    
    
.AppContainer {
    background: linear-gradient(var(--main-grey), var(--main-grey)) !important;
/*   
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0,0,0,.5)), url("") !important;	    
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important; 
    background-size: cover !important;
*/
}

/* Document Color & Transparency */ 
.is-desktop .AppContainer.is-borderShowing .Document, .read-only-doc {
    border-color: var(--main-black);
    background: var(--page-bg-style) !important;

}

.DocumentTools-icon {
    color: var(--main-grey);
}

.DocumentTools-icon:hover {
    color: var(--main-black);
}
    
.DocumentTools-overlay {
    background: linear-gradient(var(--transparent), var(--transparent)) !important; 
    box-shadow: 0 0 0px 0px var(--main-black);
}
    

    
/* ======================================== */
/* Sidebar */

.is-desktop .Pane-header,
.is-desktop .popup-message-banner {
    /* Header Bar */
    color: var(--main-black);
    background: var(--page-bg-color);
}
    
.is-desktop .Pane-headerToolbarItem {
    /* Header Icons */
    color: var(--main-black);
}

.is-desktop .Pane-headerToolbarItem:hover {
    /* Header Icons Hover */
    color: var(--light-blue);
}

    
.is-desktop .LeftPaneSplitter:after {
    /* Right Edge of Sidebar */
    border-right: 1px solid var(--main-black);
}

.is-desktop .LeftPaneContainer-nav {
    
    /* Left Column of Sidebar w/ Icons */
    background: var(--transparent);
}

.is-desktop .LeftPaneContainer-navItem.is-active,
.is-desktop .LeftPaneContainer-navItem:hover { 
    /* Selected Sidebar Icon */
    background: var(--page-bg-color);
}

.is-desktop .LeftPaneContainer-navItem {
    /* Non-Selected Sidebar Icon */
    background: var(--main-grey);
    color: var(--main-black);    
}

.Pane {
    /* Sidebar Text Pane */
    background: linear-gradient(var(--page-bg-color), var(--page-bg-color)) !important;
    font-size: var(--small-text);
}

.pane-item-icon {
    /* Folder & Document Pane Icons */
    color: var(--main-black);
    font-size: var(--small-text);
    line-height: var(--small-text);
    margin-left: -25px;
}

.pane-item-icon.shared {
    color: var(--main-blue);
}

.LeftPaneContainer{
    /* Container of Sidebar Text Pane */ 
    background: linear-gradient(var(--transparent), var(--transparent)) !important; 
}
    
.pane-item.DocumentItem.is-open > .pane-item-header {
    /* Selected Item in Pane */
    background-color: var(--blue-bg);
}

    
/* Fades all the sidebars and icons until you mouse over them */
/*
.LeftPaneSlidebarContainer,
.LeftPaneSplitter,
.AppHeader,
.DocumentTools-icon
 {
    opacity: 0.5;
}
.LeftPaneSlidebarContainer:hover,
.LeftPaneSplitter:hover,
.AppHeader:hover,
.DocumentTools-icon:hover
{
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
*/
    
/* ======================================== */
/* Document Contents */

/*
.DocumentContainer.is-centerDocument .Document, 
.DocumentContainer.is-centerDocument .DocumentBreadcrumb {
    /* Larger Main Document 
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
*/
    
.Node {
    /* Body Text */
	/*
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 10.5px;
    font-style: normal;
	font-weight: lighter;
    */
    font-family: "Palatino Linotype", "Times New Roman", serif;
    font-size: 10px;
}

  .node-inline-code
  {
    color: #B35E4D;
    font-family: "Consolas", "Courier", monospace;
    background-color: rgba(255, 255, 255, .3);
    font-size: 12px !important;
      /*
    padding-top: 2px;
    padding-bottom: 1px;
    margin: 0 .1em;
    vertical-align: text-bottom;
      */
  }


    
body { 
    /* Main Body */
    color: var(--main-black);
}

.search-match {
    /* ctrl+f search result */
    background: var(--yellow-bg);
}
    
.node-tag {
    /* Tags */
	color: var(--main-blue);   
    font-size: var(--medium-text);
}

.DocumentContainer.has-tagBackground .node-tag {
    /* Tag Background */
    background: var(--transparent);
}

    
a[title="Filter #p1"]::before, a[title="Filter #P1"]::before {
    /* Custom Tag Indicator */
    visibility: visible;
    border-left: solid red;
    float:left;
    height: var(--medium-text);
    margin-top: 4px;
    font-size: var(--medium-text);
    content: " ";
}
    
a[title="Filter #p2"]::before, a[title="Filter #P2"]::before {
    /* Custom Tag Indicator */
    visibility: visible;
    border-left: solid orange;
    float:left;
    height: var(--medium-text);
    margin-top: 4px;
    font-size: var(--medium-text);
    content: " ";
}

    
/* Colored Labels */

.set-color-label[data-color="1"], .Node-contentContainer.mod-color-label-1 {
    /* Colored Label */
    background-color: #f88;
}
.set-color-label[data-color="2"], .Node-contentContainer.mod-color-label-2 {
    /* Colored Label */
    background-color: #f6f9a6;
}
.set-color-label[data-color="3"], .Node-contentContainer.mod-color-label-3 {
    /* Colored Label */
    background-color: #8fc599;
}
.set-color-label[data-color="4"], .Node-contentContainer.mod-color-label-4 {
    background-color: rgb(69, 85, 132);
    color: #fff;
}
.set-color-label[data-color="5"], .Node-contentContainer.mod-color-label-5 {
    /* Colored Label */
    background-color: rgb(106, 131, 202);
    color: #fff;
}
.set-color-label[data-color="6"], .Node-contentContainer.mod-color-label-6 {
    /* Colored Label */
    background-color: rgb(224, 230, 240);
}

.Node-bullet:before {
    /* Bullet Points */
    color: var(--main-black);
    font-size: 13px;
}

.is-collapsed>.Node-bullet:before {
    /* Collapsed Bullets */
 	color: var(--main-blue);   
}

.AppContainer.is-using-bullet-to-zoom .Node-bullet:hover:before {
    /* Hovered Bullet */
    background-color: var(--main-grey);
}
    

a, .node-inline-item  {
    /* Links & Internal Links */
	color: var(--main-blue);   
    background-color: var(--transparent);
    border: none;
    display: inline;
    vertical-align: middle;
    border-radius: 0px;
    text-decoration: underline;
    font-size: var(--medium-text);
}

.node-link-internal.is-displayed:before {
    /* Hide Internal Link Infinity Icon */
    content: "";
}

.node-time{
    text-decoration: none;
}
    
    

.Node-content:focus,.Node-renderedContent:focus,
.Node-note:focus,.Node-renderedNote:focus {
    /* higher contrast active item */
    color: var(--main-black);
    background: var(--blue-hl);
}


.Node.is-currentRoot > .Node-self {
    /* Page Titles */
    font-weight: bold;
    text-align: center;
}
    
    
.popover > .node-mover-title, .Suggestions-item span, .is-checked .node-bold span {
    /* Move Item Menu Text */
    color: var(--main-blue);
    text-decoration-line: none !important;
}
.popover{
    background-color: var(--thick-grey);
}

    .is-checked span {
        /* Completed Items */
        color: var(--dark-grey);
    }
    
    .is-checked .needsclick{
        /* Edit-Mode clicked items */
        color: var(--main-black) !important;
    }
    
.AppContainer{
    background: var(--app-bg-style) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center center !important; 
    background-size: cover !important; /* contain or cover */
}
    
.is-currentRoot .Node .Node-children
{
    /* vertical bars */
    border-left: 1px solid #000;
}

/* ======================================== */
/* Scrollbar */
    /*
::-webkit-scrollbar {
    background-color: var(--transparent);
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-blue);
}
::-webkit-scrollbar-thumb:active {
    background-color: var(--main-blue);
}
    */
    
} /* end style */
