/* ==UserStyle==
@name           Dynalist Background: Philadelphia
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Background image for dynalist
@author         Brandon Sie
==/UserStyle== */

@-moz-document domain("dynalist.io") {
    .AppContainer {
        /*background: #1e2022 !important;*/
        background: linear-gradient(rgba(0, 0, 0, .8), rgba(0,0,0,.5)), 
        url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-345134.jpg") !important;
        /*
        https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-345134.jpg
        https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-591562.jpg
        https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-193125.jpg
        */
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
        background-position: center !important; 
        background-size: cover !important;
    }
}
