/* tags */
[title~="#p1"] {color: #ff5454 !important; }
[title~="#p2"] {color: #ffa459 !important;}
[title~="#p3"] {color: #ffe959 !important;}
[title~="#work"] {color: #59d9ff !important;}
[title~="#prog"] {color: #5785f9 !important;}
[title~="#haus"] {color: #82e278 !important;}
[title~="#grad"] {color: #c7e277 !important;}
[title~="#financial"] {color: #37bd02 !important;}
[title~="#shop"] {color: #66ff56 !important;}

/* text */
.content {font-family: "Helvetica"; font-size: 1em; color: #d5cece;}


/* main page background */ 
body {
    /*background-color: #424141; /* #1c1c1c */
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0,0,0,.5)), 
        url("http://img.mp.itc.cn/upload/20170509/ddb471a4133f4a4e82f06a5bc16fdc40_th.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    
    /* bg images
    Baltimore http://img.mp.itc.cn/upload/20170509/ddb471a4133f4a4e82f06a5bc16fdc40_th.jpg
    Grand Teton https://raw.githubusercontent.com/brandonsie/brandonsie.github.io/master/docs/grandteton.jpg"
    
    */
}

/* sub page background */
.page {
    /*background-color: #424141; /* #000 */     
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));/* #000 */ 
}

.project.open.highlighted {
    background-color: #000;
}

.project.highlighted::before {
    background: #3D3D3D;
}

#documentView {
    color: #d8d8d8;
}

.children {
    border-left: 1px dashed #999;
}

.bullet circle
{
    color: #dbdce1;
}



/* tier colors */

/*  Select all first-level projects.
	"Projects" are items that have chidlren
*/
  .selected>.children>.project.open
  {
    /*background: linear-gradient(rgba(0, 0, 0, .3), rgba(0,0,0,.3)) !important;/* #000 */ 

    /*background:  rgba(240, 240, 240, .1) !important; /* rgba(106, 106, 106, .1)  */
    border-top: 1px solid #aaa;
  }

  .selected>.children>.project.open>.name
  {
    font-weight: bold;
  }

/* Lighten sub-project background */
  .selected>.children>.project.open .project.open
  {
    /* background: rgba(6, 6, 6, .25) !important; /* rgba(74, 93, 185, .25) */ 
    border: 1px solid #4d4d4d;

    /* border-radius: 8px; */
  }

/* compact rows */
.selected>.children>.project>.children .project>.name>.content {padding-top: 0px;}


